<div class="modal-overlay" *ngIf="isVisible">
    <div class="modal">
        <div class="modal-content">
            <h2>Delete Car</h2>
            <p>Are you sure you want to delete this car?</p>
            <div class="buttons">
                <button class="delete-button" (click)="confirmDelete()">Delete</button>
                <button class="close-button" (click)="closeDialogDelete()">Close</button>
            </div>
            <div *ngIf="isDeleted"><p>{{ status }}</p></div>
            <div *ngIf="!isDeleted"><p>{{ errorMessage }}</p></div>
        </div>
    </div>
</div>
